.main {
  margin: auto;
  width: 40%;
}
#randomContainer{
	width:75%;
	padding:10px;
	margin:30px auto;
	text-align: center;
  height:70px;
}

#buttonContainer{
	width: 100%;
	text-align: center;
}

.getRandom {
  display: inline-block;
}